/* ---------------------fondo vista Administrator----------------  */

.global-container {
    background-image: url('../../assets/lgVertical.png');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width:1000px) {
    .global-container {
        background-image: url('../../assets/ham.png');
        gap: 5px;
    }
}