* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}


/* ------------------------ section  -----------------  */

.global-container {
    background-image: url('../../assets/fondoV.png');
    background-size: cover;  
    position: relative;
}


/* ----------------- columna 1 ----------------  */
.logoBq{
    /* background-color: #F8B504; */
   position: absolute;
   top: 140px;
   right: 130px;
}
.container-columns {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* padding-top: 20px;} */
}

.column-form,
.column-header {
    width: 100%;
    max-width: 500px;
    /* text-align: center; */
}

h1 {
    color: #fff;
    font-size: 3.8rem;
    letter-spacing: 3px;
    text-align: center;
}

.content-logo {
    width: 150px;
    margin: 0 auto;
    /* border-bottom: 3px solid #beb9b934; */
}

.content-logo img {
    width: 100%;
}


/* ------------------------ columna 2 -------------------  */

h2 {
    text-align: center;
    font-size: 3.4rem;
    color: #fff;
    font-weight: bold;
    padding: 18px 0;
}


/* ------ form ------ */
.column-form {
    background-color: #696969a5;
    max-width: 480px;
    padding: 10px 20px 12px 20px;
    
    border-radius: 20px;
    box-shadow: -1px 2px 15px rgb(0 0 0 / 50%);
}

.login-form {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    display: grid;
    gap: 15px;
    padding: 10px 0;
}

.inp,
.btn {
    width: 100%;
    padding: 16px;
    border-radius: 18px;
    font-size: 2rem;
    outline: none;
    border: none;
}

.inp::placeholder {
    color: rgb(130, 126, 126);
  }

.btn {
    background-color: #F8B504;
    font-weight: bold;
    font-size: 1.8rem;
}



#messageError{
    color: rgb(74, 16, 16);
    font-size: 2.3rem;
    font-weight: bold;
    margin-top: 16px;
    background-color: rgba(255, 0, 0, 0.085);
    padding: 12px;
    /* opacity: 0;
    visibility: hidden; */
}

/* .error #messageError{
    opacity: 1;
    visibility: visible;
} */


/* --------------------Estilos tablet --------------------  */

@media (min-width:750px){

    
    .column-form{
        max-width: 570px;
        padding: 15px 20px 65px 20px;
    }

    .column-header h1{
        font-size: 4.5rem;
    }

    .content-logo{
        width: 330px;
    }

    .login-form{
        max-width: 450px;
        gap: 35px;
    }

    .inp,
    .btn { 
    padding: 25px;
   }

}





@media (min-width:850px) {

    .container-columns {
        flex-direction: row;
        padding: 0 20px;
    }

    .column-header {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    h1 {
        color: white;
    }

    .content-logo {
        width: 440px;
    }

    .column-form{
        padding-bottom: 15px;
    }
}