/* estilos para el texto producto, precio y total */

.product-order-list{
    font-size: 2.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 10px 0;
}

.item{
   font-size:20px ;
}

.item-product{
    display: flex;
    gap: 23px;
    align-items: center;
}

 .price-delete{
    display: flex;
    align-items: center;
    gap: 10px;   
 }

 .price-delete img{
    width: 23px;
 }

.price-delete .soles{
    font-size: 20px;
}



 @media (min-width:750px){
    .product-order-list{
        margin: 23px 5px 23px 15px;
    }
 }

