.box-order-cheff {
    background-color: rgba(0, 0, 0, 0.767);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    max-height: 700px;
    overflow-y: scroll;
}

.box-order-cheff::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.445);
}

.box-order-cheff::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.247);
}


@media (min-width:820px){
    .box-order-cheff {
        max-height: 823px;   
    }
}


@media (min-width:1000px){
    .box-order-cheff{
       height: 514px;
    }
}

