
/* pantalla chicas */
.login-form {
    background-color: #696969a5;
    width: 80%;
    max-width: 450px;
    padding: 35px 20px 30px;
    border-radius: 20px;
}

.login-form h2 {
    text-align: center;
    font-size: 2rem;
}

.group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 17px;
}

#messageError {
    font-size: 2rem;
    color: rgb(70, 3, 3);
    font-weight: bold;  
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;  
    margin: 12px 0 7px 0;  
}

.activate  {
    background-color: rgba(255, 0, 0, 0.123);
    border-radius: 18px;
}

.inp,
.btn {
    width: 100%;
    padding: 8px;
    border-radius: 18px;
    font-size: 1.5rem;
    margin-top: 20px;
    outline: none;
    border: none;
}

.btn {
    background-color: #F8B504;
    font-weight: bold;
    margin: 0 auto;
}

.inp::placeholder {
    color: rgb(130, 126, 126);
}

@media (min-width:750px) {
    .global-container {
        background-image: url('../../assets/lgVertical.png');
    }

    .login-form {
        max-width: 570px;
    }

    .inp,
    .btn {
        padding: 20px;
        font-size: 2.2rem;
    }

    .login-form h2 {
        font-size: 3.5rem;
        padding: 10px;
    }
}


@media (min-width:1000px) {
    .login-form {
        margin-left: 400px;
    }
}