/* Estilos para dispositivos móviles */
.global-container-cheff {
    background-image: url('../../assets/fondoGeneral.jpg');
}

.container-column-cheff {
    display: flex;
    justify-content: center;
    border-radius: 15px 15px;
    flex-wrap: wrap;
}

.title-columns-cheff {
    background-color: rgba(128, 128, 128, 0.459);
    text-align: center;
    font-size: 2.8rem;
    padding: 15px;
    color: white;
}

.first-column {
    border-right: solid 2.5px #F8B504;
    width: 100%;
    border-radius: 15px 0 0 15px;
}

.second-column {
    width: 100%;
    border-radius: 0px 15px 15px 0;
}


@media (min-width: 768px) {
    .container-column-cheff {
        flex-wrap: nowrap;
        height: 1000px;
    }
    .first-column 
    .second-column{
        width: 50%;
    }
}

@media (min-width: 1000px) {
    .container-column-cheff {
        flex-wrap: nowrap;
        height: 565px;
    }
    .first-column 
    .second-column{
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .container-column-cheff {
        height: 620px;
    }
}