/* lista de productos y sus botones editar y eliminar */
.content-btns{
    display: flex;
    justify-content: flex-end;
}

.list-content{
    font-size: 2.2rem;
    color: #fff;
    display: flex;
    justify-content:space-between ;
}

.list-subtitle{
    color: #000;
    font-weight: bold;
}

.list-content-btn{
    padding: 10px 0;
}

.list-btn-edit,
.list-btn-delete{
    padding: 6px 28px 6px 28px;
    font-size: 2rem;
    border-radius: 15px;
    margin-left: 25px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 18px;
}

