.content-btns {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.list-content {
    font-size: 2.2rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.list-subtitle {
    color: #000;
    font-weight: bold;
}

.list-content-btn {
    padding: 10px 0;
}

.list-btn-edit,
.list-btn-delete {
    padding: 3px 10px;
    font-size: 1.8rem;
    border-radius: 15px;
    margin-left: 25px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 18px;
    margin-top: 12px;
}

.icon-edit{
    width: 28px;
}

.icon-delete{
    width: 24px;
}

@media (min-width: 768px) {
    .content-btns {
        flex-direction: row;
    }
    .list-btn-edit, .list-btn-delete {
        padding: 6px 18px;
        font-size: 2.7rem;
    }
    .icon-edit{
        width: 35px;
    }
}
