.card-order-view {
    background-color: #dacece;
    border-radius: 26px 26px 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 2rem;
}

.text-cards-name {
    font-weight: bold;
    font-size: 2.5rem;
}

.box-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    line-height: 1.3;
    background-color: #dacece;
}

.item-card {
    font-size: 2rem;
    font-weight: bold;
}

.span-card {
    font-weight: normal;
}

.img-card img {
    width: 65px;
    display: block;
}

.time-attended-view{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0 20px 0;  
    background-color: #dacece;
    width: 100%;
    border-radius: 0 0 28px 26px;
    font-size: 1.7rem;
}

.btn-attended {
    background-color: #F8B504;
    font-size: 2rem;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    max-width: 100%;
}


@media (min-width:800px) {
    .card-order-cheff {
    width:  340px;
    }
    .btn-attended {
    padding: 7px 35px 7px 35px;
    font-weight: bold;
    }
    .card-order-view{
        padding: 0  25px 10px;
    }
}

@media (min-width:1024px) {
    .card-order-cheff {
    width: 450px;
    }
    .btn-attended {
    padding: 10px 64px 10px 64px;
    font-weight: bold;
    }
}