/* card que contiene  imagenes desayuno/almuerzo y cena */

.card-element {
    background-color: #fffffff1;
    border-radius: 15px;
    flex: 1 1 167px;
    min-height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding: 10px;
    text-align: center;
}

.card-element img {
    width: 120px;
    margin: 0 auto;
}

.card-element p {
    font-size: 2.5rem;
    font-weight: bold;
}

.group-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group-price p {
    font-size: 2.8rem;
}

.btn-card {
    width: 70px;
    background-color: #F8B504;
    padding: 10px;
    border-radius: 7px;
    font-size: 2.3rem;
    outline: none;
    border: none;
}