.card-order-cheff {
    background-color: #dacece;
    border-radius: 26px;
    padding: 10px 15px 20px 15px;
    display: flex;
    flex-direction: column;
    min-width: 491px;
    /* flex: 1 1 10px;s */
    font-size: 2rem;
}

.text-cards-name {
    font-weight: bold;
    font-size: 2.5rem;
}

.box-card {
    /* background-color: chartreuse;  */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    line-height: 1.3;
}

.item-card {
    font-size: 2rem;
    font-weight: bold;
}

.span-card {
    font-weight: normal;
}

.img-card img {
    width: 65px;
    display: block;
}

.time-attended {
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
    
}

.btn-attended {
    background-color: #F8B504;
    padding: 10px 64px 10px 64px;
    font-size: 2rem;
    border-radius: 15px;
}

@media (min-width:750px) {

.card-order-cheff {
    min-width:  348px;
}
.btn-attended {
    padding: 7px 35px 7px 35px;
    font-weight: bold;
}
}

@media (min-width:1024px) {
    .card-order-cheff {
width: 486px;;
}
.btn-attended {
    padding: 10px 64px 10px 64px;
    font-weight: bold;
}
}