

/* .view{
    background-color: aqua;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  
    
} 

.modal-content-viewOrder{
    background-color: blue;
width: 100%;

} */

