.box-order-status {
    background-color: #5d5d5dda;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: scroll;
    padding: 35px 0 0 0;
    border-radius: 26px;
}

.box-order-status::-webkit-scrollbar {
    background-color: rgba(65, 63, 63, 0.445);
}

.box-order-status::-webkit-scrollbar-thumb {
    background-color: rgba(12, 12, 12, 0.247);
}

.box-card-button {
    border-radius: 26px;
    background-color: #dacece;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 26px;
    width: 100%;
    padding: 5px 0 10px 0;
    min-height: 200px;
}

.time-attended-delivered {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    padding: 10px;
}

.btn-attended-delivered {
    padding: 10px 20px 10px 20px;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 15px;
    background-color: #F8B504;
}

@media (min-width:768px) {
    .box-order-status {
        height: 700px;
    }
    .box-card-button {
        width: 45%;
    }
}

@media (min-width:820px) {
    .box-order-status {
        height: 901px;
    }
}

@media (min-width:1000px) {
    .box-order-status {
        height: 520px;
    }
}

@media (min-width: 1024px) {
    .box-card-button {
        width: 30%;
    }
}
