* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}


/* ------------------------ section  -----------------  */

.global-container {
    background-image: url('../../assets/fondoVertical.png');
    background-size: cover;  
}


/* ----------------- columna 1 ----------------  */

.container-columns {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* padding-top: 20px;} */
}

.column-form,
.column-header {
    width: 100%;
    max-width: 500px;
}

h1 {
    color: #fff;
    font-size: 3.8rem;
    letter-spacing: 3px;
    text-align: center;
}

.content-logo {
    width: 150px;
    margin: 0 auto;
    border-bottom: 3px solid #beb9b934;
}

.content-logo img {
    width: 100%;
}


/* ------------------------ columna 2 -------------------  */

h2 {
    text-align: center;
    font-size: 3.4rem;
    color: #fff;
    font-weight: bold;
    padding: 18px 0;
}


/* ------ form ------ */
.column-form {
    background-color: #696969a5;
    max-width: 480px;
    padding: 10px 20px 12px 20px;
    border-radius: 20px;
    box-shadow: -1px 2px 15px rgb(0 0 0 / 50%);
    /* margin-top: 15px; */
}

.login-form {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    display: grid;
    gap: 15px;
    padding: 10px 0;
}

.inp,
.btn {
    width: 100%;
    padding: 16px;
    border-radius: 18px;
    outline: none;
    border: none;
}

.inp::placeholder {
    color: rgb(130, 126, 126);
    font-style:normal;
    font-size: 1.8rem;
  }

.btn {
    margin-top: 15px;
    background-color: #F8B504;
    font-weight: bold;
    font-size: 1.8rem;
}

/* .group{
   background-color: aqua;
   position: relative;
}

.group label{
    font-size: 1.7rem;
    color: #024634;
    position: absolute;
    top: 20%;
    left: 10px;
}

label.active{
    top: -30px;
} */

#messageError{
    color: rgb(74, 16, 16);
    font-size: 2.3rem;
    font-weight: bold;
    margin-top: 10px;
    background-color: rgba(255, 0, 0, 0.085);
    padding: 12px;
}


/* --------------------Estilos tablet --------------------  */

@media (min-width:750px) {

    .container-columns {
        flex-direction: column;
        padding: 0 20px;
    }

    .column-header {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    h1 {
        color: white;
    }

    .content-logo {
        width: 300px;
    }

    .column-form{
        padding-bottom: 15px;
    }
}