.global-container-Admi {
    background-image: url('../../assets/fondoGeneral.jpg');
    padding: 20px 0 90px 0;
}

.content-general-products {
    background-color: #4e4e4e;
    padding: 0 20px;
    height: 750px;
    overflow: auto;
    border-radius: 18px;
}

.content-add {
    display: flex;
    justify-content: flex-end;
}

.btn-addProduct {
    display: flex;
    align-items: center;
    padding: 7px 8px;
    gap: 10px;
    border-radius: 18px;
    font-size: 2rem;
    margin: 12px;
}

.rolTitle {
    color: #F8B504;
    font-size: 2.2rem;
    padding-bottom: 5px;
}

.content-cards-products {
    border-top: solid 2px #F8B504;
    margin-bottom: 35px;
}

.btn-product,
.btn-staff {
    font-size: 1.9rem;
    font-weight: bold;
    padding: 12px;
    width: 50%;
    border-radius: 0 0 20px 20px;
    background-color: transparent;
    color: #000;
    outline: none;
}

.active {
    background-color: #F8B504;
}



@media (min-width:750px) {
    .btn-product,
    .btn-staff {
        padding: 15px;
        font-size: 2.9rem;
    }
}
@media (min-width:820px) {
    .content-general-products {
        height: 900px;
    }
    .btn-product,
    .btn-staff {
        padding: 20px;
        font-size: 3rem;
    }
    .btn-addProduct {
        padding: 15px 12px;
        font-size: 2.5rem;
    }
    .rolTitle {
        font-size: 3rem;
    }
}


@media (min-width:1024px) {
    .content-general-products {
        height: 570px;
    }
}