/* ------------------------fondo waiter  -----------------  */

.global-container-waiter{
    padding:20px 0 90px 0;
    background-image: url('../../assets/fondoVertical.png');
    padding: 120px 0 20px;
}

.container-columns1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
}

.column-menu , .column-ticket{
    /* width: 100%;
    max-width: 400px; */
    flex: 1 1 400px;
}

.column-ticket{
    flex: 1 1 320px;
    /* width: 330px; */
}

.waiter{
    padding-top: 20px;
    margin-bottom: 25px;
}

/* --------------------- estilos contenido column 1 --------------------------  */

/* column hijo cliente  */
.group-client{
    color: #fff;
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.group-client label{
    font-size: 2.6rem;
    font-weight: bold;
}

.group-client input{
   width: 100%;
   padding: 18px 14px;
   border-radius: 7px;
   outline: none;
   background-color: #fffffff1;
   font-size: 2.6rem;
}


/* column hijo orden pedido */
.content-order{
    background-color: #5D5D5D;
    min-height: 790px;
    border-radius:0 0 20px 20px;
    padding: 0 15px;
}

.sub-title{
    text-align: center;
    color: #fff;
    padding: 15px;
    font-size: 3rem;
}

.content-buttons{
    padding-bottom: 20px;
}

.btn-break, .btn-lunch{
    font-size: 2.3rem;
    padding: 18px;
    width: 50%;
    border-radius: 0 0 20px 20px;
    background-color: transparent;
    color: #fff;
    outline: none;
}

.content-list-breakfast{
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.content-list-lunch{
    display: none;
}

/* ---------------column ticket--------------------- */

.ticket-header, .ticket-body, .ticket-footer{
    background-color:#fffffff1;
}

.ticket-subtitle{
    font-size: 2.8rem;
    text-align: center;
}

.ticket-subtitle, .ticket-header p{
    color: #000;
    padding: 10px;
    border-bottom:3px solid #000;
}

.ticket-header p{
    font-size: 2.6rem;
    font-weight: bold;
}

.ticket-body{
    min-height: 570px;
    padding: 10px;
}

.ticket-footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 3px solid #000;
    border-radius: 0 0 12px 12px;
}

.ticket-footer p{
    font-size: 2.6rem;
    font-weight: bold;
    margin-right: 10px;  
}

.ticket-footer span{
    font-weight: lighter;
    margin-left: 10px;
}

.ticket-btns{
    display: grid;
    gap: 12px;
    margin: 15px 0 15px 0;
}

.ticket-enviar, .ticket-cancel{
    padding: 18px;
    border-radius: 30px;
    font-size: 2.5rem;
    font-weight: bold;
}

.active{
    background-color: #F8B504;
}


/* --------------------Estilos tablet --------------------  */
@media (max-width:770px){
    .container-columns1 {
        flex-wrap: wrap;
    }

    .btn-lunch{
        font-size: 1.9rem;
    }
}